
.PhotostoryMain{
	overflow:hidden;
	border:solid thin #ccc;
}
.PhotostoryHolder{
	background:#fff;
	border-left:#333;
	border-right:#333;
}
/**PS**/
.PSWrapper{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background:#fff;
	border-top:solid thin #ccc;
	border-left:solid thin #ccc;
	border-right:solid thin #ccc;
}
a.PSOverviewClickable{
	text-decoration:none;
}
.PSWrapper .OverviewHeader{
	position:absolute;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.PSWrapper .PSOverviewHolder{
	display:block;
}
.PSWrapper .PSOverviewItem{
	background:#fff;
}
.PSWrapper .PSOverviewItem .Descp{
	position:absolute;
	background:url(images/ps/bg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding:0.2em;
	color:#fff;
	
	text-shadow:0px 2px 2px #000;
	border:none;
}
.PSWrapper .PSTitle{
	background:url(images/UI/tbg.png);
	font-family:Arial;
	z-index:10;
	color:#fff;
	position:absolute;
}
.PSWrapper .PSTitle .Title{
	font-size:2em;
	text-shadow:0px 2px 3px #000;
	font-family:Arial;
	color:#fff;
	padding:0;
}
.PSWrapper .PSTitle .Description{
	font-size:0.8em;
	font-family:Arial;
	color:#eee;
}
.PSWrapper .PSItem{
	z-index:1;
}
.PSWrapper #ActionButton, .PSWrapper #ScreenModeButton, .PSWrapper #ShowOverviewButtonHolder{
	opacity:0.8;
	-webkit-transition:opacity 0.1s linear;
}
.PSWrapper a#ActionButton{
	text-decoration:none;
}
.PSWrapper a#ShowOverviewButtonHolder{
	text-decoration:none;
}
.PSWrapper a#ScreenModeButton{
	text-decoration:none;
}
.PSWrapper .Hints{
	background:#000;
	border:solid thin #ccc;
	border-radius:3px;
	position:absolute;
	top:-25px;
	padding:4px 6px 4px 6px;
	color:#fff;
	font-size:10px;
	opacity:0;
	-webkit-transition:opacity 0.1s linear;
	font-family:Arial;
	z-index:10;
}
.PSWrapper #ActionButton:hover .Hints, .PSWrapper #ScreenModeButton:hover .Hints,.PSWrapper #ShowOverviewButtonHolder:hover .Hints{
	opacity:1;
}

.PSWrapper #ActionButton:hover, .PSWrapper #ScreenModeButton:hover, .PSWrapper #ShowOverviewButtonHolder:hover{
	opacity:1;
}
.PSWrapper #ActionButton:active, .PSWrapper #ScreenModeButton:active, .PSWrapper #ShowOverviewButtonHolder:active{
	opacity:0.3;
}
.PSWrapper .PSControlsLayer{
}
.PSWrapper #PSControlsBar{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#222));
	background: -webkit-linear-gradient(top, #555, #222);
	background: -moz-linear-gradient(top, #555, #222);
	background: -ms-linear-gradient(top, #555, #222);
	background: -o-linear-gradient(top, #555, #222);
	
	border-bottom:solid thin #000;
	border-top:solid thin #333;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.PSWrapper #PSControlsBar .Split{
	border-left:solid thin #000;
	border-right:solid thin #777;
	display:inline-block;
}
.PSWrapper #PSControlsBar #NaviBar{
	border-top:solid thin #777;
	border-bottom:solid thin #111;
	display:inline-block;
	vertical-align:top;
	margin-top:7px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c00), to(#900));
	background: -webkit-linear-gradient(top, #c00, #900);
	background: -moz-linear-gradient(top, #c00, #900);
	background: -ms-linear-gradient(top, #c00, #900);
	background: -o-linear-gradient(top, #c00, #900);
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.PSWrapper #NaviPopupFrame{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#222));
	background: -webkit-linear-gradient(top, #555, #222);
	background: -moz-linear-gradient(top, #555, #222);
	background: -ms-linear-gradient(top, #555, #222);
	background: -o-linear-gradient(top, #555, #222);
	
	border:solid thin #111;
	border-radius:4px;
	
	-moz-box-shadow: 0px 3px 7px #111;
	-webkit-box-shadow: 0px 3px 7px #111;
	box-shadow: 0px 3px 7px #111;	
}
.PSWrapper #NaviPopupMain{}
.PSWrapper #NaviBarBall{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	background: -webkit-linear-gradient(top, #fff, #ccc);
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -ms-linear-gradient(top, #fff, #ccc);
	background: -o-linear-gradient(top, #fff, #ccc);
	
	-moz-box-shadow: 0px 2px 2px #111;
	-webkit-box-shadow: 0px 2px 2px #111;
	box-shadow: 0px 2px 2px #111;	
	
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.PSWrapper .PSNaviShowBox{
	padding-top:5;
	padding-bottom:5;
	font-size:10;
	text-align:center;
	text-decoration:none;
}
.PSWrapper a .PSNaviShowBox{
	text-decoration:none;
	color:#888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.PSWrapper #PSDetails{
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;
	vertical-align:top;
	margin-top:6px;
	padding-left:5px;padding-right:5px;
}
/**PS**/
.PSItem{
	position:relative;
}
.PSItem .SubPS1{
	background:#fff;
}
.PSItem .ImgHolder{	
}
.PSItem img{background:#333;}
.PSItem .Descp{
	background:url(images/UI/tbg.png);
	color:#fff;
	font-size:0.8em;
	padding:0.2em;
	text-shadow:0px 1px 2px #000;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	line-height:normal;
}
.PSItemClickable{
	position:absolute;
	text-decoration:none;
}

.PhotostoryHolder .PSItem{
	opacity:1;
	-webkit-transition:opacity 0.1s linear;
}
.PhotostoryHolder:hover .PSItem{
	opacity:0.6;
	-webkit-transition:opacity 0.1s linear;
}
.PhotostoryHolder:hover .PSItem:hover{
	opacity:1;
}
.PSControls{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#101010));
	background: -webkit-linear-gradient(top, #555, #101010);
	background: -moz-linear-gradient(top, #555, #101010);
	background: -ms-linear-gradient(top, #555, #101010);
	background: -o-linear-gradient(top, #555, #101010);
	
	padding:0.5em;
}
.PSLightBoxControls{
	background:#333;
	border:solid thin #555;
}
.PSControls a, .PSLightBoxControls a{
	color:#333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f0f0f0));
	background: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
	background: -moz-linear-gradient(top, #fafafa, #f0f0f0);
	background: -ms-linear-gradient(top, #fafafa, #f0f0f0);
	background: -o-linear-gradient(top, #fafafa, #f0f0f0);
	padding-top:0.2em;padding-bottom:0.2em;padding-left:1.5em;padding-right:1.5em;
	
	border-radius:0.5em;
	text-decoration:none;
	font-size:0.8em;
	font-family:Lato;
	
	margin-right:0.1em;margin-left:0.1em;
}
.PSLightBoxObject{
	background:url(images/UI/lbox.png);
}